[Unit]
Description=Timer for restored organ: live-guard

[Timer]
OnCalendar=*-*-* *:00/5:00
RandomizedDelaySec=20
Unit=quant-live-guard.service

[Install]
WantedBy=timers.target
